.helpCenter{
    padding: .5rem 1rem;
    transition: all .3sec ease-in;
    z-index: 200;
}

.helpCenter:hover{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: .3rem;
}

